#authwrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(232, 232, 232);
    opacity: 50%;
}


.mat-card{
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    border: 3px solid rgb(133, 133, 133);
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
    width: 30vw;
    height: 50vh;
}

.mat-card h3{

  position: absolute;
  top: 1px;
  background-color: yellow;
  border-right: 2px solid black;
  border-left: 8px solid black;
  border-radius: 20%;
  box-shadow: 7px 4px 7px;

}
.mat-card mat-button {
    display: block;
   height: 100%;
   width: 100%;
    /*border-radius: 20px; */
}

