@import '~@angular/material/theming';

@include mat.core();
$my-app-primary: mat.define-palette(mat.$amber-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);


$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);


@include mat.all-component-themes($my-app-theme);


$color: mat-get-color-config($theme);

$primary: map-get($color, primary);
$accent: map-get($color, accent);

.class1 {
  color: map-get($primary, 400);
}

.class2 {
  color: mat-color($accent, 100);
}