<div id="barHome">
  <ng-container class="bar-container" *ngIf="userBar$ | async as userBar">
    <ul>
      <li *ngFor="let bar of userBar" class="list-container">
        <p>Ingredient Name: {{ bar.ingredient }}</p>
        <p>
          <button (click)="removeIngredient(bar.ingredientsId)">Delete</button>
        </p>
      </li>
    </ul>
  </ng-container>
  <div class="bar-bottom">
    <app-drink-history></app-drink-history>
    <app-get-random></app-get-random>
    <app-get-drink-ingredient></app-get-drink-ingredient>
    <app-get-drink-name></app-get-drink-name>
  </div>
</div>
