<ul *ngIf="bars.length > 0; else getBars" class="bar-container">
<li *ngFor="let bar of bars" class="list-container">
		<div>
		<p>Ingredient Name: {{bar.ingredient}}</p>
		<p>Ingredient Id: {{bar.ingredientsId}}</p>
		<p>Associate User Id: {{bar.userId}}  </p>
			<button (click)="removeIngredient(bar.ingredientsId)">Delete me</button>
		</div>
	</li>
</ul>
<!-- <button mat-raised-button ><a [routerLink]="['./add-ingredient']">Add Ingredient</a> </button>
 -->
	<ng-template #getBars>
		<p>getting bars...</p>
	</ng-template>


    
<ng-container *ngIf="userLoggedIn$ | async as userLoggedIn; else notLoggedIn">
<ul>
	<li>
		Ingredient Name:
	</li>
</ul>
</ng-container>
<ng-template #notLoggedIn>

</ng-template>
