<!-- <ul *ngIf="histories.length > 0; else getHistory">
	<li *ngFor="let history of histories">
		<div>
			<p>Ingredient Name: {{history.drinkId }}  </p>
			<p>Associate User Id: {{history.userId}} </p>
		</div>
	</li>
</ul>
	<ng-template #getHistory>
		<p>you should of deleted your history...</p>
	</ng-template> -->
	This is the user's drink history
	<div id = "drinkHistory">
	<ng-container *ngIf="userHistory$ | async as userHistory; else notLoggedIn">
		<ul class="bar-container">
			<li *ngFor="let history of userHistory" class="list-container">
				<p>Ingredient Name: {{history.drinkId}}</p>
			</li>
		</ul>
		</ng-container>
		
		<ng-template #notLoggedIn>
		<p>You are not logged in and thus cannot see this shit...</p>
		</ng-template>
	</div>