
<div id = "add-ingredient">
	

	<form [formGroup]="addIngredientFormGroup" (submit)="submitIngredient()">
		<div>
			<h2>What's your hooch?</h2><h4>Enter Ingredient</h4>
			<input type="text" formControlName="ingredient">
		</div>

		<div>
			<label>This will be autofilled in when a user id when they are logged in </label>
			<input type="text" formControlName="userId">
		</div>

		<div>
			<button mat-raised-button color = "accent" type="submit">Add Ingredient</button>
		</div>
	</form>	

</div>