@media only screen and (min-width: 100px) {

    #add-button{
        height: 40px;
        width: 100px;
    }

    #add-button:hover{
        background-color:rgb(234, 204, 5)
    }
}

@media only screen and (min-width: 300px) {

    #add-ingredient{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url("../../images/internationalTractor-blurred.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
    }

#add-button{
        height: 40px;
        border-radius: 5px;
    }

    h2, h4{
        display: block;
    }

    input{

        height: 20px;
        border: 2px solid black;
        border-radius: 5px;
    }

}   
    @media only screen and (min-width: 768px) {
    
    #add-ingredient{
           padding-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-image: url("../../images/internationalTractor-blurred.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
        }


        h2, h4{
            display: block;
        }

        input{

            height: 24px;
            border: 2px solid black;
            border-radius: 5px;
        }
    }