<form class =theform>
  <label>Search For A Drink By Name:</label>
  <input type="text" [formControl]="drinkNameControl" />
</form>

<ul class="bar-container">
  <li *ngFor="let drink of drinks$ | async" class="list-container">
    <p>{{ drink.strDrink }}</p>
  </li>
</ul>

<!-- <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
  Search By Drink Name
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="drinks$ | async as drinks">
    <a [routerLink]="['/search-results', drinks.drinks[0].idDrink]">{{ drinks.drinks[0].strDrink }}</a>
  </button>
</mat-menu> -->