<ul class="navigation-container">
    <li>  <button mat-raised-button color ="accent"><a routerLink="/">Home</a></button>                    </li>
    <li>  <button mat-raised-button color ="accent"><a routerLink="addIngredient">Add Ingredient</a></button>       </li>
    <li>  <button mat-raised-button color ="accent"><a routerLink="app-bar-home">Bar Home</a></button>    </li>
    <!-- <li *ngIf="user$ | async as user; else shouldLogin"><button mat-button (click)="logout()">LOGOUT</button></li>
		<ng-template #shouldLogin>
			<li><button mat-button><a routerLink="user-login">LOGIN</a></button></li>
            </ng-template> -->
</ul>