
<!-- 
<ul>
    <li>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon></button>
    </li>
    <li>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon> local_bar</mat-icon></button>
    </li>
    <li>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>contact_support</mat-icon>
</button>
    </li>
</ul> -->


<ul class="navigation-container">
    <li>  <a routerLink="/">Home</a>                            </li>
    <li>  <a routerLink="addIngredient">Add Ingredient</a>      </li>
    <li>  <a routerLink="app-delete-user">Delete Account</a>    </li>
    <li>  <a routerLink="app-bar-home">Bar Home Component</a>   </li>
    <li *ngIf="user$ | async as user; else shouldLogin"><button (click)="logout()">LOGOUT</button></li>
		<ng-template #shouldLogin>
			<li><a routerLink="user-login">LOGIN</a></li>
            </ng-template>
</ul>